# Python
__pycache__
*.py[cod]
.venv
.mypy_cache
.ruff_cache

# Project data (large)
data/
models/
.tmp/

# Git
.git

# Docker
docker/mlflow
docker/nginx
docker/prometheus
docker/grafana

# Docs / reports
docs/
reports/
references/

# Tests
tests/

# Misc
*.md
.editorconfig
.gitignore
.dockerignore
.env
dvc.yaml
dvc.lock
uv.lock
